/* ========================================
   ZCenter - Center Layout Styles
======================================== */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center.inline {
  display: inline-flex;
}
