.aspectRatio {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.aspectRatio.ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.aspectRatio.ratio-4-3 {
  aspect-ratio: 4 / 3;
}

.aspectRatio.ratio-16-9 {
  aspect-ratio: 16 / 9;
}

.aspectRatio.ratio-21-9 {
  aspect-ratio: 21 / 9;
}

.aspectRatio.ratio-3-2 {
  aspect-ratio: 3 / 2;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
