.list {
  margin: 0;
  padding-left: var(--z-space-6);
  color: var(--z-text-primary);
}

.list.unordered.disc {
  list-style-type: disc;
}

.list.unordered.circle {
  list-style-type: circle;
}

.list.unordered.square {
  list-style-type: square;
}

.list.none {
  list-style: none;
  padding-left: 0;
}

.list.ordered {
  list-style-type: decimal;
}

.list.spacing-compact > li {
  margin-bottom: var(--z-space-1);
}

.list.spacing-default > li {
  margin-bottom: var(--z-space-2);
}

.list.spacing-relaxed > li {
  margin-bottom: var(--z-space-4);
}
